body{
    font-family: Arial, sans-serif;
    background-color: rgb(156, 165, 162);
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    background-color: #aae7dd; /* Couleur de fond du nav */
    padding: 20px; /* Espace à l'intérieur du nav */
    border: 2px solid #b88080; /* Bordure autour du nav */
    border-radius: 5px; /* Coins arrondis */
    max-width: 400px; /* Largeur maximale */
    margin: 20px auto; /* Centre le nav horizontalement */
}

ul {
    list-style-type: none; /* Enlève les puces */
    padding: 0; /* Enlève le padding par défaut */
}

li {
    margin: 10px 0; /* Espace entre les éléments de la liste */
}

a {
    text-decoration: none; /* Enlève le soulignement */
    color: #333; /* Couleur du texte */
    display: block; /* Fait que le lien prenne tout l'espace */
    padding: 10px; /* Espace à l'intérieur du lien */
    border: 2px solid #ccc; /* Bordure autour du lien */
    border-radius: 3px; /* Coins arrondis pour le lien */
}

